* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.slider {
    background-image: url(img/slider-img.jpg);
    height: 800px;
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    text-transform: uppercase;
    width: 435px;
    letter-spacing: -4px;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin: 20px 0;
}

.button {
    text-align: center;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    width: 212px;
    height: 45px;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover {
    color: #ffffff;
    background-color: #9c9c9c;
}
.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.featured-product {
    height: 609px;
    background-color: #ffffff;
}

.featured-product-header {
    margin-top: 120px;
}

.tab-controll {
    display: inline-flex;
    width: 300px;
    height: 49px;
}

.tab-list {
    list-style: none;
}

.tab-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
    text-decoration: none;
    padding: 0 31px;
}

.tab-link-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    padding: 0 9px;
}

.tab-link:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.btn-ghost {
    float: right;
    align-items: center;
    margin-top: 18px;
}

.btn-list {
    list-style: none;
    float: left;
    right: -1;
}

.btn-link {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 12px;
    text-decoration: none;
}

.btn-list:hover {
    transform: scale(1.2);
}

.featured-product-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 270px;
}

.product-1 {
    position: relative;
}

.product-1-hidden {
    position: absolute;
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    text-align: center;
    top: 0%;
    display: none;
}

.button-1 {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    line-height: 50px;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    margin-top: 62px;
}

.button-1-img {
    padding-top: 13px;
}

.product-h2 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    margin-top: 19px;
    margin-bottom: 23px;
}

.product-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

.product-1:hover>div.product-1-hidden {
    display: block;
}

.promo-product {
    display: flex;
}

.promo-content-1 {
    background-image: url("img/promo-img-2.jpg");
    height: 683px;
    width: 683px;
}

.promo-content-2 {
    background-image: url("img/promo-img-1.jpg");
    height: 683px;
    width: 683px;
}

.promo-content {
    margin-top: 228px;
}

.promo-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-left: 51px;
}

.promo-h2 {
    margin-left: 52px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-text {
    width: 374px;
    margin-top: 14px;
    margin-left: 50px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.promo-button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    height: 45px;
    width: 212px;
    text-decoration: none;
    letter-spacing: 3.6px;
    margin-left: 50px;
    margin-top: 34px;
}

.promo-button:hover {
    background-color: #6c6c6c;
    color: #ffffff;
}

.trending-header {
    margin-top: 119px;
}

.trending-h2 {
    width: 395px;
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.trending-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: 64px;
}

.hot-deals {
    background-image: url("img/hot-deal.jpg");
    height: 800px;
    margin-top: 120px;
    position: relative;
}

.hot-deal-text {
    width: 458px;
    height: 227px;
    padding-top: 287px;
}

.hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-left: 1px;
}

.hot-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -3.2px;
    margin-left: 8px;
}

.hot-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 18px;
}

.hot-btn {
    margin-top: 32px;
}

.exclusive-product {
    margin-top: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1vw;
}

.exclusive-1 {
    background-image: url("img/product-1-lg.jpg");
    width: 570px;
    height: 570px;
    grid-row: 1/-1;
}

.mobile-app {
    margin-top: 120px;
    height: 516px;
    background-image: url("img/back-img.jpg");
}

.mob-app {
    padding-top: 125px;
    margin-left: 1px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-h2 {
    margin-left: 8px;
    width: 420px;
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -5px;
}

.mob-text {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 1px;
    margin-top: 18px;
}

.mob-link {
    margin-top: 15px;
    display: flex;
}

.link-mob {
    padding-right: 10px;
}

.footer {
    background-color: #f7f7f7;
}

.footer-content {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.contact-h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.address {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.address-list {
    margin-top: 12px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    list-style: none;
}

.information-h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.useful-information {
    display: flex;
    justify-content: stretch;
}

.information-list {
    list-style: none;
    margin-top: 12px;
}

.information-list:hover {
    transform: scale(1.2);
}

.information-link {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.information-2 {
    margin-left: 103px;
}

.lets-h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.lets-text {
    width: 363px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 12px;
}

input[type=email] {
    width: 250px;
    height: 48px;
    position: relative;
    padding-left: 10px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

input[type=submit] {
    position: absolute;
    border: 1px solid #212121;
    border-left: none;
    width: 85px;
    height: 52px;
    border-radius: 0 3px 3px 0;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:active {
    box-shadow: 0px 0px 20px 0px inset #8c8c8c;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}

.copyright-text {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.terms-link {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
}

/*Contacts*/

.header-contact {
    height: 360px;
    background-color: #f5f5f5;
    padding-top: 63px;
}

.header-content {
    margin-top: 200px;
    margin-left: 3px;
}

.header-h1 {
    color: #212121;
    font-size: 62px;
    font-weight: 300;
    line-height: 72px;
}

.location {
    margin-top: 71px;
    margin-bottom: 122px;
}

.contacts {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.contacts-content {
    width: 370px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
}

.icomoon {
    text-align: center;
    color: #212121;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts-h4 {
    padding-bottom: 23px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-block {
    text-align: center;
    margin-bottom: 18px;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 700;
}

.contacts-h6 {
    font-weight: 700;
    font-size: 14px;
}

.contacts-text {
    color: #212121;
    font-weight: 700;
}

.contacts-address {
    font-weight: 300;
}

/* Product deails */

.product-menu {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    align-items: center;
    height: 70px;
}

.menu-product {
    display: flex;
    justify-content: space-between;
}

.product-list {
    list-style: none;
}

.product-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    letter-spacing: 1.8px;
}

.product-link-active {
    color: #212121;
    letter-spacing: 1.8px;
}

.product-link:hover {
    color: #212121;
}

.product-container {
    height: 723px;
    margin-top: 72px;
    display: flex;
}

.controll-prod {
    display: flex;
    justify-content: center;
}

.product-content-deail {
    margin-top: 47px;
    text-align: center;
}

.product-h3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.product-h5 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48.02px;
    text-transform: uppercase;
}

.cost {
    display: flex;
    justify-content: center;
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    line-height: 48.02px;
    margin-top: 36px;
}

.dollar {
    font-size: 48px;
}

.number {
    font-size: 72px;
    text-transform: uppercase;
}

.button-prod {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 71px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    display: inline-block;
    width: 510px;
    height: 71px;
    text-decoration: none;
    letter-spacing: 3.6px;
    margin-top: 31px;
}

.button-prod:hover {
    background-color: #ffffff;
    color: #f44336;
}

.prod-text {
    text-align: start;
    margin-top: 49px;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.01px;
    letter-spacing: 0.4px;
}

.related-products {
    margin-top: 245px;
}

.related-h2 {
    width: 395px;
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.related-content {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 120px;
}

/* Catalog*/

.header-catalog {
    height: 360px;
    background-color: #f5f5f5;
    margin-bottom: 71px;
    padding-top: 63px;
}

.word {
    width: 575px;
    height: 58px;
    margin-top: 168px;
    font-size: 50px;
    margin-left: 3px;
}

.menu-catalog {
    margin-left: 7px;
    display: flex;
}

.menu-lost {
    list-style: none;
}

.menu-lonk {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
}

.menu-lonk-activ {
    color: #212121;
    letter-spacing: 1.8px;
}

.menu-lonk:hover {
    color: #212121;
}

.catalog-product-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-top: 64px;
}

.promo-product-exclusive {
    display: flex;
    margin-top: 240px;
}